ul {
  list-style: none;
}

ul li {
  line-height: 2.3rem;
}

.card-body {
  background-color: aliceblue;
  border-radius: 0.5rem;

}

.btn {
  opacity: 0.7;
}

/* Hovering effect */

@media (min-width:992px) {
  .card-body {
    pointer-events: none;
  }
}

.card-body :hover .btn{
    opacity: 1;
    cursor: pointer;
  }