.App {
  margin: 1rem;
  padding: 3rem;
  text-align: center;
  background-image: linear-gradient(to right, #0062E6, #33AEFF);
}

/* Hover effect */

@media (min-width:992px) {
  .container :hover {
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
  }
}